@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    border: 2px solid #7be8f2;
    background-color: rgb(255, 182, 240);}

.container .item{
    border: 2px solid #952828;
    background-color: #c2aefc;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;

}
.container .item{
    width: 30%;
    height: 100px;
}
