@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #7be8f2;
    background-color: rgb(255, 182, 240);}

.container .item{
    border: 2px solid #952828;
    background-color: #c2aefc;
    
}

.container{
    display: flex;
    height: 100vh;
    /* 메인축방향으로 이동 */
    justify-content: flex-start; /* ->기본값 */
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-around;
    justify-content: space-evenly;

    /* 메인축과 크로스방향으로 이동( 어묵 먹는 방향) */
    align-items: stretch;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;


}
.co
.entainer .item{
    height: 100px;
    width: 200px;
}